body, html {
    height: 100%;
    font-family: Open Sans;
}

/* The small hero images */
.hero-image-small {
    /* Set a specific height */
    height: 230px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image {
    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image1 {
    /* The image used */
    background-image: url("subway-mh.jpeg");
}

.image2 {
    /* The image used */
    background-image: url("existing-patient.jpeg");
}

.image3 {
    /* The image used */
    background-image: url("crisis.jpeg");
}


/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
}

h1 {font-size: 60px;
    font-family: 'Helvetica Neue';
     text-align: center;}
h2 {font-size: 50px;
    font-family: 'Helvetica Neue';}
h3 {font-size: 30px;
    font-family: 'Helvetica Neue';
color:  #800080;}
p  {font-size: 25px;
    font-family:'Arial';}

.margin-bottom {margin-bottom: 45px;}
.side-padding {padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 120px;}

.bg-2 {background-color: #E1EBEF}
.bg-3 {background-color: #FFEDCC}
.bg-1 {background-color: #87A5B2; /* light blue */}

.image-size1 {
    max-width: 20px;
}

.icon-img {border-radius: 50%;}
 
.icon-padding {padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 50px;}
